* {
  box-sizing: border-box;
}
.card-list {
  display: flex;
  flex-direction: column;
  border: 2px solid gray;
  gap: 1rem;
}

.card-list-container {
  display: flex;
  justify-content: center;
  gap: 1rem;
  padding: 1rem;
  width: 100vw;
}

.card {
  background-color: lightgray;
}
.icon-bar {
  display: flex;
  width: 100%;
  padding: 0.5rem;
  justify-content: space-between;
}

.card-header {
  display: flex;
  justify-content: space-between;
}
.card-header input {
  flex-grow: 1;
  
}
