.card-list {
  display: flex;
  flex-direction: column;
  border: 2px solid gray;
}

.card-list-container {
  display: flex;
  justify-content: center;
  gap: 1rem;
  padding: 1rem;
  width: 100vw;
}
