@import url("https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@400;700&display=swap");

* {
  box-sizing: border-box;
  font-family: "Space Grotesk", Helvetica, sans-serif;
}
.card-list {
  display: flex;
  flex-direction: column;
  background-color: #eee;
  gap: 1rem;
  width: 400px;
  padding: 1rem;
}

button {
  background-color: white;
  font-size: 1rem;
  padding: 0.5rem;
  border: 2px solid #555;
  border-radius: 0.25rem;
  color: #555;
  transition: all 0.1s;
}
button:hover {
  background-color: #555;
  color: white;
  transition: all 0.1s;
}
.card-list-container {
  display: flex;
  justify-content: center;
  gap: 2rem;
  padding: 1rem;
  width: 100vw;
  min-height: 100vh;
}
.card-list-header {
  padding: 0.5rem;
  display: flex;
  flex-direction: column;
}
.card {
  background-color: white;
  padding: 0.75rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  border-radius: 0.5rem;
  filter: drop-shadow(0px 5px 4px #00000040);
}
.icon-bar {
  display: flex;
  width: 100%;
  justify-content: space-between;
}

.card-header {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}
.card-header h2,
.card-header textarea {
  margin: 0;
  font-size: 1.5rem;
  font-weight: 100;
  width: auto;
  flex-grow: 1;
}
.card-header textarea {
  padding: 0;
  border: none;
  outline: none;
  resize: none;
}

.vote-bar {
  display: flex;
  justify-content: space-between;
}
.vote-bar button {
  display: flex;
  gap: 0.25rem;
}
